body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

a:hover {
    color: #fdec6e;
    text-shadow:0px 0px 30px #fdec6e;
    transition: all ease-in-out .3s;
}

.hero, nav, footer {
    background-color: #1F2937;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-bottom: 75px;;
}

.headerlogo {
    width: 150px;
    height: auto;
    margin-right: auto;
    margin-left: 10%;
}

.navlinks {
    display: flex;
    gap: 15px;
    font-size: 18px;
    margin-left: auto;
    margin-right: 10%;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FaF8;
}

.herotext {
    font-size: 18px;
    color: #E5E7EB;   
}

.herobtn {
    background-color: #3882F6;
    border: 1px solid #3882F6;
    border-radius: 5px;
    color: white;
    padding: 5px 15px;
    font-weight: 450;
    margin-top: 5px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.heroimg {
    width: 400px;
    height: auto;
}

.heroleft, .heroright {
    width: 50%;
    padding-bottom: 65px;
}

.heroright {
    margin-left: auto;
    margin-right: 10%;
    margin-top: auto;
    margin-bottom: auto;
}

.heroleft {
    margin-right: auto;
    margin-left: 10%;
}

h2 {
    text-align: center;
    margin-bottom: 75px;
    margin-top: 45px;
    color: #1F2937;
}

.spritecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7vw;
    margin-bottom: 50px;
}

.spritebox {
    text-align: center;
    width: 150px;  
}

.box {
    width: 75px;
    height: 75px; 
}

.quote {
    background-color: #E5E7EB;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.zeldaquote {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    text-align: center;
    font-style: italic;
}

.quotee {
    margin-top: -20px;;
    margin-left: 80%;
    font-weight: bold;
    color: #1F2937;
}